.feedbackItem {
  padding: 10px 0;
  position: relative;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  width: 95%;
  background-color: #ffffff;
}

.feedbackItem small {
  margin-bottom: 5px;
}

.dropdownMenu {
    position: absolute;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .dropdownMenu button {
    display: block;
    width: 100%;
    padding: 8px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    white-space: nowrap;
  }

  .dropdownMenu button:hover {
    background-color: #f5f5f5;
  }
  
  .menuButton {
    background: none;
    border: none;
    cursor: pointer;
  }

  .menuContainer {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .loadMoreButton {
    padding: 1rem 2rem;
    border: none;
    border-radius: 12px;
    color: #737373;
  }

  .loadMoreContainer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  .feedbackList {
    display: flex;
    flex-direction: column;
  }