.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--5px);
	margin-top: var(--40px);

	& div {
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: var(--18px);
		font-weight: 400;
		width: var(--40px);
		height: var(--40px);
		border-radius: var(--10px);
		background-color: var(--gray-800);
		color: var(--gray-700);
	}

	& div.selected {
		background-color: var(--brand-black);
		color: var(--prime-yellow);
	}

	& div:first-child {
		margin-right: var(--5px);
	}

	& div:last-child {
		margin-left: var(--5px);
	}
}
