.main {
	padding-bottom: 1rem;
	border-bottom: 1px solid var(--gray-850);
	display: flex;
	gap: 1em;
	justify-content: space-between;
	align-items: flex-start;
	border-bottom: 1px solid var(--gray-800);

	@media (max-width: 744px) {
		flex-direction: column;
		align-items: stretch;
	}

	& .challengeInfoContainer {
		flex-grow: 1;
	}

	& .headContainer {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		gap: .5em;

		& .head {
			flex-grow: 1;
		}
	}

	& h1 {
		font-size: var(--24px);
		font-weight: 600;
		margin-bottom: 1rem;
	}

	& .description {
		margin: .9rem 0 .8rem;
		font-size: var(--16px);
	}

	& .writerContainer {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		font-size: var(--12px);
		gap: 1em;
	}
}

.subHead {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: .5em;
}

.buttonContainer {
	width: 17.8125rem;
	border-radius: var(--16px);
	border: 2px solid var(--gray-800);
	padding: 1.3em 1em;

	@media (max-width: 744px) {
		width: 100%;

		& .buttons {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: .7rem;
		}
	}

	& .button {
		flex-grow: 1;
		width: 100%;
		font-size: var(--14px);
		font-weight: 700;
		height: var(--40px);
		border-radius: 12px;
		text-align: center;

		&.seeOriginal {
			margin: 1rem 0 .5rem;
			background-color: var(--prime-yellow);
			border: 2px solid var(--brand-black);

			@media (max-width: 744px) {
				margin: 1rem 0 0;
			}
		}

		&:last-child {
			margin: 0;
			background-color: var(--brand-black);
			color: var(--brand-white);
			border: none;

			@media (max-width: 744px) {
				margin: 1rem 0 0;
			}
		}
	}
}

.challengeDateAndParti {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-size: var(--13px);
  font-weight: 400;

  & .challengeDeadLine, & .challengeParticipants {
    display: flex;
    align-items: center;
    gap: .5em;
  }
}

.participantsContainer {
	border: 2px solid var(--gray-100);
	border-radius: var(--16px);
	padding: 1.2rem;
	margin: 1rem 0;

	& .head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 2em;

		& h2 {
			font-size: var(--18px);
			font-weight: 600;
			flex-grow: 1;
		}

		& .currentPage {
			color: var(--prime-yellow);
		}

	}
}

.work {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	padding: 1rem 0;
	border-bottom: 1px solid var(--gray-800);

	&:last-child {
		border-bottom: none;
	}

	& .rank {
		font-size: var(--14px);
		color: var(--prime-yellow);
		width: 3.125rem;
		height: 1.25rem;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: .1em;
		background-color: var(--brand-black);
		border-radius: 100px;
	}

	& .user {
		flex-grow: 1;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: .5rem;

		& .nicknameAndGrade {
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			& .nickname {
				font-size: var(--14px);
				font-weight: 500;
			}

			& .grade {
				font-size: var(--12px);
				font-weight: 500;
				color: var(--gray-400)
			}
		}
	}

	& .like {
		width: 6em;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: .3em;
	}
}
