.challenge {
  width: 100%;
  border: 2px solid var(--gray-200);
  border-radius: var(--12px);
  padding: 1rem;
  margin: 1rem 0;
}

.challengeInfo {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  font-size: var(--13px);
  font-weight: 500;
  height: var(--32px);
  vertical-align: middle;
  border-radius: 100px;
  gap: .3em;
  padding: 0 .8em;
  margin-bottom: 1rem;

  &.alarm {
    background-color: var(--brand-black);
    color: var(--brand-white);
  }

  &.fullParticipants {
    background-color: var(--gray-800);
  }
}

& h2.challengeTitle {
  font-size: var(--22px);
  font-weight: 600;
  margin-bottom: 1rem;
}

.challengeFieldAndType {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: .5em;
}

.challengeField {
  font-size: var(--14px);
  font-weight: 700;
  padding: var(--3px) var(--12px);
  border-radius: var(--8px);

  &.Next {
    background-color: #79E16A;
  }

  &.Modern {
    background-color: #F66E6B;
  }

  &.API {
    background-color: #FF905E;
  }

  &.Web {
    background-color: #F7Ea5D;
  }

  &.Career {
    background-color: #7EB2EE;
  }
}

& .challengeType {
  font-size: var(--13px);
  padding: var(--2px) var(--7px);
  border: 1px solid var(--gray-700);
  border-radius: var(--8px);
}

.hr {
  border-color: var(--gray-850);
  margin: 1rem 0;
}

.challengeDateAndParti {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  font-size: var(--13px);
  font-weight: 400;

  & .challengeDeadLine, & .challengeParticipants {
    display: flex;
    align-items: center;
    gap: .5em;
  }
}
