@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css');

:root {
  /* Text size (Responsive font-size) */
  --48px: 3rem;
  --40px: 2.5rem;
  --32px: 2rem;
  --28px: 1.75rem;
  --24px: 1.5rem;
  --23px: 1.4375rem;
  --22px: 1.375rem;
  --20px: 1.25rem;
  --18px: 1.125rem;
  --16px: 1rem;
  --14px: 0.875rem;
  --13px: 0.8125rem;
  --12px: 0.75rem;
  --11px: 0.6875rem;
  --10px: 0.625rem;
  --9px: 0.5625rem;
  --8px: 0.5rem;
  --7px: 0.4375rem;
  --6px: 0.375rem;
  --5px: 0.3125rem;
  --4px: 0.25rem;
  --3px: 0.1875rem;
  --2px: 0.125rem;
  --1px: 0.0625rem;

  /* Colors: #000000 이 가장 어둡고, #FFFFFF 가 가장 밝으니 숫자도 비슷하게 증감하도록. */
  --gray-900: #ffffff;
  --gray-850: #fafafa;
  --gray-800: #d8d8d8;
  --gray-700: #747474;
  --gray-600: #4b4b4b;
  --gray-500: #333333;
  --gray-400: #2e2e2e;
  --gray-300: #282828;
  --gray-200: #212121;
  --gray-100: #131313;
  --gray-0: #000000;
  --light-red: #ffe7e7;
  --prime-red: #eb3e3e;
  --prime-blue: #558fff;
  --prime-orange: #eb5230;
  --prime-yellow: #ffc117;
  --brand-black: #262626;
  --brand-white: #f1f2f5;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  background-color: var(--gray-850);
  color: var(--brand-black);
  font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  /* Responsive font-size */

  @media (max-width: 1200px) {
    font-size: 14px;
  }

  @media (max-width: 744px) {
    font-size: 12px;
  }
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;

  & .subContainer {
    max-width: 1028px;
    margin: 0 auto;
    padding: 1em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

img {
  box-sizing: content-box;
  max-width: 100%;
}

a {
  color: var(--brand-black);
  text-decoration: none;
}

a:visited {
  color: var(--brand-black);
}

a, button, label {
  cursor: pointer;
}

.inline {
  display: inline;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.fLeft {
  float: left;
}

.fRight {
  float: right;
}

.cBoth {
  clear: both;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.none {
  display: none;
}

.ql-container.ql-snow {
  height: 35rem;
  overflow: auto;
}

input::placeholder, textarea::placeholder {
  font-family: inherit;
  font-size: var(--14px);
  color: #888;
}

/* Webkit 기반 브라우저 */
::-webkit-scrollbar {
  width: var(--10px);
  height: var(--10px);
}
::-webkit-scrollbar-track {
  background: #f0f0f0;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: var(--5px);
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: #888 #f0f0f0;
}
