.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;

  & h1 {
    font-size: var(--20px);
    font-weight: 600;
  }

  & .button {
    background-color: black;
    color: white;
    height: var(--40px);
    padding: 0 10px;
    line-height: 1.3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--12px);
    font-size: var(--16px);
    font-weight: 600;
    width: max-content;
    border-radius: 100px;
  }
}

.subHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
  gap: var(--12px);

  & .filter {
    position: relative;
    width: 7rem;
    height: var(--40px);

    & .filterContainer {
      position: absolute;
      inset: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 var(--12px);
      border: 1px solid var(--gray-700);
      border-radius: 100px;
      cursor: pointer;

      &.filtered {
        background-color: var(--brand-black);
        color: var(--brand-white);
      }
      &.unfiltered {
        background-color: white;
        color: var(--gray-700);
      }

      & .filterText {
        font-size: var(--16px);
      }

      & .filterIcon {
        position: absolute;
        right: var(--12px);
        width: var(--16px);
        top: var(--10px);
        bottom: var(--12px);
      }
    }

    & .filterDropdown {
      position: absolute;
      width: 21.4375rem;
      top: 45px;
      left: 0;
      padding: 1em;
      border: 2px solid var(--gray-800);
      border-radius: 8px;
      background-color: white;
      line-height: 1;
      z-index: 100;

      & .head {
        margin-top: 0;

        & h3 {
          font-size: var(--16px);
          font-weight: 600;
        }
      }

      & .filterDropdownItem {
        font-size: var(--14px);
        font-weight: 400;

        & h4 {
          font-size: var(--14px);
          font-weight: 600;
          padding: .8em 0 .5em;
          border-top: 1px solid var(--gray-800);
        }

        & label {
          display: flex;
          align-items: center;
          height: 24px;
        }
      }

      & .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;

        & .button {
          font-size: var(--16px);
          font-weight: 600;
          height: var(--40px);
          flex-grow: 1;
          border-radius: var(--12px);

          &:first-child {
            color: var(--brand-black);
            background-color: var(--brand-white);
          }

          &:last-child {
            color: var(--brand-white);
            background-color: var(--brand-black);
          }
        }
      }
    }
  }

  & .search {
    position: relative;
    flex-grow: 1;
    height: var(--40px);
    padding-left: var(--40px);

    & .searchIcon {
      position: absolute;
      left: var(--12px);
      width: var(--16px);
      top: var(--10px);
      bottom: var(--12px);
      z-index: 10;
    }

    & .searchInput {
      position: absolute;
      font-size: 1rem;
      inset: 0;
      border: 1px solid var(--gray-800);
      border-radius: 100px;
      padding-left: var(--40px);
    }
  }
}

.noResult {
  font-size: var(--16px);
  height: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
}
