.challengeInfoContainer {
  border-bottom: 1px solid var(--gray-800);
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  & h1 {
    font-size: var(--20px);
    font-weight: 600;
  }
}

.subHeadBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.subHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
  gap: var(--12px);
}

.challengeDateAndParti {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;

  & .challengeDeadLine,
  & .challengeParticipants {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.originalLinkIframe {
  & h2 {
    font-size: var(--18px);
    font-weight: 600;
    margin: 1rem 0;
  }

  & .iframeContainer {
    position: relative;
    width: 100%;
    aspect-ratio: 1.7 / 1;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--gray-800);
  }

  & .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;

    & button {
      border-radius: var(--12px);
      border: none;
      width: 153px;
      height: 3rem;
      font-size: 1rem;
      font-family: Pretendard;
    }

    & .reject {
      background-color: #ffe7e7;
      color: #f24744;
    }

    & .approve {
      background-color: var(--brand-black);
      color: #ffffff;
    }
  }
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  width: 31rem;
  height: 27rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  padding: 24px;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.x {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.modalTitle {
  font-size: 18px;
}

.contentTitle {
  font-size: 1rem;
}

.rejectReason {
  width: 100%;
  height: 219px;
  border-radius: 6px;
  resize: none;
  padding: 1rem var(--20px);
  margin: 0.5rem 0;
  font-family: Pretendard;
}

.button {
  width: 100%;
  height: 3rem;
  border-radius: var(--12px);
  color: #ffffff;
  background-color: var(--brand-black);
  font-size: 1rem;
  font-family: Pretendard;
  cursor: pointer;
}

.pending {
  display: flex;
  flex-direction: column;
  width: 100%;

  & .Accepted {
    background-color: #dff0ff;
    color: #4095de;
  }

  & .Rejected {
    background-color: #fff0f0;
    color: #e54946;
  }

  & .Invalidated {
    background-color: #e5e5e5;
    color: #737373;
  }

  & .Waiting {
    background-color: #fffde7;
    color: #f2bc00;
  }
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35px;
  border-radius: 17.5px;
  margin: 1rem 0;
}

.comment {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-radius: 17.5px;
  margin: 1rem 0;
  padding: 1rem;
  background-color: #fafafa;
  border: 1px solid #e5e5e5;

  & h1 {
    font-size: var(--14px);
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: #262626;
    margin: 0;
  }

  & .commentContent {
    font-size: 1rem;
    margin: 1rem 0;
  }

  & .date {
    align-self: flex-end;
    font-size: var(--14px);
    color: #737373;
  }
}

.editDelButtons {
  position: absolute;
  bottom: -80px;
  right: 0;
  font-size: 1rem;
  cursor: pointer;
  width: 139px;
  height: 80px;
  border-radius: var(--12px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .editButton,
  & .delButton {
    border: 1px solid var(--gray-800);
    background-color: #ffffff;
    color: #737373;
    height: 40px;
    width: 139px;
  }

  & button:first-child {
    border-top-left-radius: var(--8px);
    border-top-right-radius: var(--8px);
    border-bottom: none;
  }

  & button:last-child {
    border-bottom-left-radius: var(--8px);
    border-bottom-right-radius: var(--8px);
  }
}

.delKebab {
  display: flex;
  position: relative;
  width: 24px;
  height: 24px;
}

.menuButton {
  padding: 0;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}

.linkButton {
  position: absolute;
  top: 12px;
  right: 16px;
  height: 32px;
  width: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  color: #404040;
  white-space: nowrap;
  border-radius: 5px;
  font-size: 16px;
  z-index: 10;
}
