.noti {
	padding: var(--14px);
	font-size: var(--14px);
	border-bottom: 1px solid var(--gray-800);
	text-align: left;

	&:last-child {
		border-bottom: none;
	}

	&.unread {
		& .notiMessage {
			color: var(--gray-100);
		}
	}

	&.read {
		& .notiMessage {
			color: var(--gray-800);
		}
	}

	& .notiDate {
		color: var(--gray-700);
	}
}

.notis {
	& button {
		font-size: 1rem;
		margin: .5rem auto;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: .5rem;
	}
}

.notisRead {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	padding: 1rem;

	& h2 {
		font-size: var(--18px);
		font-weight: 700;
	}

	& .notiRead {
		font-size: var(--16px);
		color: var(--brand-black);
		text-align: left;
		padding: 1rem;
	}
}

.noMoreNotis {
	padding: 5rem 0;
	margin: 0 auto;
}