.textarea {
    border-radius: 12px;
    font-size: 16px;
    color: #a3a3a3;
    width: 100%;
    min-width: 590px;
    padding: 11px 20px;
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
    font-family: inherit;
}