.likeButton {
    border: none;
}

.meta {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
}

.workDetail {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #E5E5E5;
}

.container {
    max-width: 55.625rem;
}
